.h7 { color: navy; }

.h8 { color: navy; }

.h9 { color: navy; }

.h10 { color: navy; }

.h11 { color: navy; }

.h12 { color: navy; }

.h13 { color: navy; }

.h14 { color: navy; }

* {
  font-family: sans-serif;
}

a:link {
      text-decoration: none;
}

a:visited {
      text-decoration: none;
}

a:hover {
      text-decoration: none;
}

a:active {
      text-decoration: none;
}

:target {
  border: 5px solid #ff0000;
/*            background-color: orange;*/
/*            color: white;*/
}

body {
  text-align: justify;
}

/* =================================== */
a.code_header {
  font-weight: bold;
}

span.code_header_text {
  font-style: italic;
}

pre.code_data {
  font-family: monospace;
  background: #f0f0f0;
  color: #000000;
  padding: 15px 15px; 
  border-radius: 5px;
  display: block;
  counter-reset: line;
}

pre.code_data code:before {
  display: inline-block;
  counter-increment: line;
  content: counter(line);
  border-right: 1px solid #ddd;
  text-align: right;
  width: 1em;
  padding-right: 1em;
  margin-right: .5em;
  padding: 0 .5em;
  color: #888
}

code {
  font-family: monospace;
  color: #0f00ff;
}

/* =================================== */
span.artefact {
  color: lightgreen;
  font-weight: bold;
}

span.artefact::after {
  content: "]";
}

span.artefact::before {
  content: "[";
}

/* =================================== */
span.milestone {
  color: orange;
  font-weight: bold;
}

span.milestone::after {
  content: ")";
}

span.milestone::before {
  content: "(";
}

/* =================================== */
a.issue {
  color: red;
  font-weight: bold;
}

a.issue::after {
  content: ">";
}

a.issue::before {
  content: "<";
}

/* =================================== */
a.bug {
  color: magenta;
  font-weight: bold;
}

a.bug::after {
  content: "}";
}

a.bug::before {
  content: "{";
}

/* =================================== */
p.toc_heading { 
  font-size: 2.5em;
  font-weight: bold;
}

/* =================================== */
dt.description_list {
  font-style: normal;
  font-weight: bold;
  float: left;
  margin: 0 10px 0 0;
}

dd.description_list {
  font-style: italic;
}

dt.description_list::after {
  content: ": ";
}

/* =================================== */
span.title {
  font-size: 5em;
  font-weight: bold;
  width:100%;
  display: flex;
  justify-content: center;
}

/* =================================== */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

/* =================================== */
a.internal_reference {
  color: darkorange;
}

a.internal_reference_link {
  color: red;
}

p.lor_heading { 
  font-size: 2.5em;
  font-weight: bold:
}

/* =================================== */
.loa__bug th {
/* background-color: lightblue;*/
  text-align: left;
}

.loa__bug tr:nth-child(odd) {
    background-color: #f0f0f0;
}

.loa__bug td {
    padding-right: 15px;
}

.loa__bug p {
  font-size: 2.5em;
  font-weight: bold;
}

/* =================================== */
.loa__issue th {
/* background-color: lightblue;*/
  text-align: left;
}

.loa__issue tr:nth-child(odd) {
    background-color: #f0f0f0;
}

.loa__issue td {
    padding-right: 15px;
}

.loa__issue p {
  font-size: 2.5em;
  font-weight: bold;
}

/* =================================== */
.loam__issue th {
/* background-color: lightblue;*/
  text-align: left;
}

.loam__issue tr:nth-child(odd) {
    background-color: #f0f0f0;
}

.loam__issue td {
    padding-right: 15px;
}

.loam__issue p {
  font-size: 2.5em;
  font-weight: bold;
}

/* =================================== */
.loa__milestone th {
/* background-color: lightblue;*/
  text-align: left;
}

.loa__milestone tr:nth-child(odd) {
    background-color: #f0f0f0;
}

.loa__milestone td {
    padding-right: 15px;
}

.loa__milestone p {
  font-size: 2.5em;
  font-weight: bold;
}

/* =================================== */
.loam__milestone th {
/* background-color: lightblue;*/
  text-align: left;
}

.loam__milestone tr:nth-child(odd) {
    background-color: #f0f0f0;
}

.loam__milestone td {
    padding-right: 15px;
}

.loam__milestone p {
  font-size: 2.5em;
  font-weight: bold;
}

/* =================================== */
.loa__artefact th {
/* background-color: lightblue;*/
  text-align: left;
}

.loa__artefact tr:nth-child(odd) {
    background-color: #f0f0f0;
}

.loa__artefact td {
    padding-right: 15px;
}

.loa__artefact p {
  font-size: 2.5em;
  font-weight: bold;
}

/* =================================== */
.loam__artefact th {
/* background-color: lightblue;*/
  text-align: left;
}

.loam__artefact tr:nth-child(odd) {
    background-color: #f0f0f0;
}

.loam__artefact td {
    padding-right: 15px;
}

.loam__artefact p {
  font-size: 2.5em;
  font-weight: bold;
}

/* =================================== */
.loa th {
/* background-color: lightblue;*/
  text-align: left;
}

.loa tr:nth-child(odd) {
    background-color: #f0f0f0;
}

.loa td {
    padding-right: 15px;
}

.loa p {
  font-size: 2.5em;
  font-weight: bold;
}

/* =================================== */
.loam th {
/* background-color: lightblue;*/
  text-align: left;
}

.loam tr:nth-child(odd) {
    background-color: #f0f0f0;
}

.loam td {
    padding-right: 15px;
}

.loam p {
  font-size: 2.5em;
  font-weight: bold;
}

/* ============================== */
p.toc {
  font-size: 2.5em;
  font-weight: bold;
}

/* ============================== */
p.loi {
  font-size: 2.5em;
  font-weight: bold;
}

/* ============================== */
p.loc_title {
  font-size: 2.5em;
  font-weight: bold;
}
